#map {
width:600px;
}

#character {
position:absolute;
top:20;
left:600px;
width:200px;
}

#action_queue {
position:relative;
top:0;
left:600px;
width:200px;
}

#hex_info {
position:relative;
top:0;
left:600px;
width:200px;
}

.hex {
float:left;
width:40px;
height:28px;
margin:0 20px 0 0;
background: url(../img/gray.gif) no-repeat;
}

p {
color:white;
font: 10px/10px arial, helvetica, sans-serif;
padding:10px 0 0 0;
margin:0;
text-align:center;
width:40px;
}

a {
text-decoration:none;
}

.own {
text-decoration:none;
}

.own:hover {
background: url(../img/dirt2.gif) no-repeat;
cursor:pointer;
}

.gray {
background: url(../img/gray.gif) no-repeat;
}

.blue {
background: url(../img/blue.gif) no-repeat;
}

.green {
background: url(../img/green.gif) no-repeat;
}

.cyan {
background: url(../img/cyan.gif) no-repeat;
}

.br {
clear:both;
}

.firstodd {
margin:-14px 0 0 30px;
}

.odd {
margin:-14px 0 0 20px;
}

.even {
margin:-14px 20px 0 0;
}