@charset "utf-8";

#wrapper {width:1100px;margin:0 auto; border:1px solid #000;}

#header {height:40px; border:1px solid #000;}

#land {position:relative;bottom:0px;width:100%;height:130px; border:1px solid #000;}

#character {position:relative;bottom:0px;width:100%;height:80px; border:1px solid #000;}

#country {position:relative;bottom:0px;width:100%;height:50px; border:1px solid #000;}

#economy {position:relative;bottom:0px;width:100%;height:50px; border:1px solid #000;}

#content-main {border:1px solid #000;}

#overview {height:40px; border:1px solid #000;}

#footer {height:200px; border:1px solid #000;}

.hex {
float:left;
width:70px;
height:49px;
margin:0 20px 0 0;
}

.front {
float:left;
width:70px;
height:49px;
margin:0 20px 0 0;
background: url(../img/transparent.png) no-repeat;
}

.marked_neutral {
float:left;
width:70px;
height:49px;
margin:0 20px 0 0;
background: url(../img/marked_black.png) no-repeat;
}

.marked_friend {
float:left;
width:70px;
height:49px;
margin:0 20px 0 0;
background: url(../img/marked_green.png) no-repeat;
}

.marked_enemy {
float:left;
width:70px;
height:49px;
margin:0 20px 0 0;
background: url(../img/marked_red.png) no-repeat;
}

p {
color:white;
font: 10px/10px arial, helvetica, sans-serif;
padding:10px 0 0 0;
margin:0;
text-align:center;
width:40px;
}

a:link {
text-decoration:none;
color: #0F0
}
a:visited {
text-decoration:none;
color: #0F0
}
a:hover {
text-decoration:none;
color: #090
}
a:active {
text-decoration:none;
color: #060
}

.gray {
background: url(../img/gray.gif) no-repeat;
}

.blue {
background: url(../img/blue.gif) no-repeat;
}

.markeddirt {
background: url(../img/markeddirt.png) no-repeat;
}

.markedveg {
background: url(../img/markedveg.png) no-repeat;
}

.markeddirtveg {
background: url(../img/markeddirtveg.png) no-repeat;
}

.green {
background: url(../img/green.gif) no-repeat;
}

.cyan {
background: url(../img/cyan.gif) no-repeat;
}

.br {
clear:both;
}

.firstodd {
margin:-24px 0 0 52px;
}

.odd {
margin:-27px 0 0 33px;
}

.even {
margin:-27px 33px 0 0;
}

.character {
}

.dirt1 {
background: url(../img/dirt1.png) no-repeat;
}

.dirt2 {
background: url(../img/dirt2.png) no-repeat;
}

.dirt3 {
background: url(../img/dirt3.png) no-repeat;
}

.dirt4 {
background: url(../img/dirt4.png) no-repeat;
}

.dirt5 {
background: url(../img/dirt5.png) no-repeat;
}

.dirtveg1 {
background: url(../img/dirtveg1.png) no-repeat;
}

.dirtveg2 {
background: url(../img/dirtveg2.png) no-repeat;
}

.dirtveg3 {
background: url(../img/dirtveg3.png) no-repeat;
}

.dirtveg4 {
background: url(../img/dirtveg4.png) no-repeat;
}

.dirtveg5 {
background: url(../img/dirtveg5.png) no-repeat;
}

.urban1 {
background: url(../img/urban1.png) no-repeat;
}

.urban2 {
background: url(../img/urban2.png) no-repeat;
}

.urban3 {
background: url(../img/urban3.png) no-repeat;
}

.urban4 {
background: url(../img/urban4.png) no-repeat;
}

.urban5 {
background: url(../img/urban5.png) no-repeat;
}

.veg1 {
background: url(../img/veg1.png) no-repeat;
}

.veg2 {
background: url(../img/veg2.png) no-repeat;
}

.veg3 {
background: url(../img/veg3.png) no-repeat;
}

.veg4 {
background: url(../img/veg4.png) no-repeat;
}

.veg5 {
background: url(../img/veg5.png) no-repeat;
}

.army {
background: url(../img/army.png) no-repeat;
}

.army-enemy {
background: url(../img/army-enemy.png) no-repeat;
}

.barrack {
background: url(../img/barrack.png) no-repeat;
}

.barrack-bunker {
background: url(../img/barrack-bunker.png) no-repeat;
}

.cityhall {
background: url(../img/cityhall.png) no-repeat;
}

.cityhall-bunker {
background: url(../img/cityhall-bunker.png) no-repeat;
}

.factory {
background: url(../img/factory.png) no-repeat;
}

.factory-bunker {
background: url(../img/factory-bunker.png) no-repeat;
}

/* new stuff here */

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

div#container {
	position:relative;
	height: 100%;
   width: 100%;
	max-width: 1600px;
	min-width: 780px;
	max-height: 1200px;
	min-height: 480px;      
   overflow:hidden;
}

div#topframe {
	position:absolute;
	top:0px;
	width: 100%;
	height: 62px;	background-image:url(../img/topframe.png);
	font-family: "Courier New", Courier, monospace;
	text-align: right;
   z-index:11;
}

div#leftframe {
	position:absolute;
	top:0px;
	left: 0px;
	width: 35px;
	height: 100%;
	background-image:url(../img/leftframe.png);
   z-index:11;
}

div#rightframe {
	position: absolute; 
	top:0px;
	right: 0px;
	width: 35px;
	height: 100%;
	background-image:url(../img/rightframe.png);
	z-index:11;
}

div#bottomframe {
	position: absolute;
	bottom: 2px;
	width: 100%;
	height: 91px;
	background-image:url(../img/bottomframe.png);
	z-index:11;
}

div#actions {
	position: absolute;
	bottom: 4px;
	width: 100%;
	height: 190px;
	z-index:10;	
}

div#bottomleft {
	float: left;
	margin: 1px;
	width: 34%;
	height: 98%;
	border:1px solid #000;
	padding-left:1px;
	padding-top:1px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-image:url(../img/actionbg.png);
	z-index:10;
}

div#bottomcenter {
	float: left;
	margin: 1px;
	width: 32%;
	height: 98%;
	border:1px solid #000;
	padding-left:1px;
	padding-top:1px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-image:url(../img/actionbg.png);
	z-index:10;
}

div#bottomright {
	float: left;
	margin: 1px;
	width: 32%;
	height: 98%;
	border:1px solid #000;
	padding-left:1px;
	padding-top:1px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-image:url(../img/actionbg.png);
   overflow:hidden;
	z-index:10;
}

div#topleftcorner {
	position: absolute;
	top: 0px;
	width: 35px;
	height: 62px;
	background-image:url(../img/topleftcorner.png);
	left: 500;	
	z-index:12;
}

div#toprightcorner {
	position: absolute; 
	top: 0px;
	right: 0px;
	width: 35px;
	height: 62px;
	background-image:url(../img/toprightcorner.png);
	z-index:12;	
}

div#bottomleftcorner {
	position: absolute;
	bottom: 1px;
	width: 233px;
	height: 227px;
	background-image:url(../img/bottomleftcorner.png);
	z-index:12;
}

div#bottomrightcorner {
	position: absolute;
	bottom: 48px;
	right: 0px;
	width: 35px;
	height: 62px;
	background-image:url(../img/bottomrightcorner.png);
	z-index:12;
}

